
  @import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 align-items: center;

}
body{
  background-color:pink;
  background-image: url("/public/bolas.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size:cover;

}
.title{
  font-family: 'Solitreo', cursive;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
text-shadow: 1.5px 1.8px black;
}

@media (max-width: 900px) {
  body{
 background-image: none;
 background-color: #fff;

  }
  
}
